<div id="sidepanel">
    <button class="sp-item sp-button sp-top" onclick="sidepanel_close()">&times; Close</button>
    <p class="sp-item">Hello!</p>
    <div>
        <a href="/" class="sp-item sp-button">Dashboard</a>
        <a href="/income" class="sp-item sp-button">Income</a>
        <a href="/expense" class="sp-item sp-button">Expense</a>
        <a href="/savings" class="sp-item sp-button">Savings</a>
        <a href="/docs" class="sp-item sp-button">Docs</a>
        <a href="/settings" class="sp-item sp-button">Settings</a>
    </div>
</div>