<!DOCTYPE html>
<html>
    <head>
        <title>Finance Tracker | Docs</title>
        {% include "layouts/head.html" %}
    </head>
    <body>
        {% include "layouts/sidepanel.html" %}
        <div id="main">
            {% include "layouts/header.html" %}
            <div class="docsdiv">
                <a href="/docs/welcome">
                    <div class="docslink"><h2>1. Welcome!</h2></div>
                </a>
            </div>
        </div>
        <script src="/static/js/main.js"></script>
        <script src="/static/js/sidepanel.js"></script>
    </body>
</html>