<!DOCTYPE html>
<html>
    <head>
        <title>Finance Tracker | Expense</title>
        {% include "layouts/head.html" %}
    </head>
    <body>
        {% include "layouts/sidepanel.html" %}
        <div id="main">
            <div class="main">
                {% include "layouts/header.html" %}
                <h2>Expense</h2>
                <div class="balancesection">
                    <p class="totalbalancelabel">Total Expense</p>
                    <p class="totalbalance"><span id="currencysymbol">{{settings[0]['currency']}}</span> <span id="totalvalue">0.00</span></p>
                </div>
                <div class="dashboardies">
                    <button id="addexpense" onclick="load_form('Expense')">+ Expense &#128184;</button>
                </div>
                <div>
                    <h3>Transaction History</h3>
                    <div id="transactionsection"></div>
                </div>
            </div>
        </div>
        <script src="/static/js/main.js"></script>
        <script type="module" src="/static/js/loaddata.js"></script>
        <script src="/static/js/sidepanel.js"></script>
    </body>
</html>