<!DOCTYPE html>
<html>
    <head>
        <title>Finance Tracker | Settings</title>
        {% include "layouts/head.html" %}
    </head>
    <body>
        {% include "layouts/sidepanel.html" %}
        <div id="main">
            <div class="main">
                {% include "layouts/header.html" %}
                <div>
                    <h2>Settings</h2>
                    <div class="settingspanel">
                        <h3>General</h3>
                        <p>Display Name: <input id="displayname" type="text" value="{{items[0]['username']}}"></p>
                        <p>Currency symbol: <select id="currencysymbol">
                            <option value="$">$ (dollar)</option>
                            <option value="£">£ (pound)</option>
                            <option value="€">€ (euro)</option>
                            <option value="¥">¥ (yen/yuan)</option>
                            <option value="₹">₹ (rupee)</option>
                            <option value="RM">RM (ringgit)</option>
                        </select></p>
                        <button id="settingssave">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/main.js"></script>
        <script type="module" src="/static/js/settings.js"></script>
        <script src="/static/js/sidepanel.js"></script>
    </body>
</html>